extends layout

block main
  p.about 
    * Looking for a job <br>
    &#x7c; Location: Canada <br>
    &#x7c;<br>
    &#x7c;&nbsp;&nbsp;   JavaScript, TypeScript, HTML, CSS <br>
    &#x7c;&nbsp;&nbsp;   React, Redux, Sass, Jest, d3, Webpack <br>
    &#x7c;&nbsp;&nbsp;   Node, express, PostgreSQL, Python <br>
    &#x7c;&nbsp;&nbsp;   Some Rust, some haskell <br>
    &#x7c;<br>
    * PhD in Physics <br>
    &#x7c; Location: NY, US <br>
    &#x7c;<br>
    &#x7c;&nbsp;&nbsp; Ultrafast laser, Terahertz spectroscopy <br>
    &#x7c;&nbsp;&nbsp; MATLAB, Python, LabVIEW<br>
    &#x7c;<br>
    * Master/Bachelor in Physics <br>
    &#x7c; Location: Beijing, China <br>
    &#x7c;<br>
    &#x7c;&nbsp;&nbsp; Optics, nanowire, EM wave simulation <br>
    &#x7c;&nbsp;&nbsp; Biological simulation <br>
    &#x7c;&nbsp;&nbsp; Turing pattern, nonlinear physics <br>
    &#x7c;&nbsp;&nbsp; C language, Python <br>
    &#x7c;<br>

  p.about
    | ========================== <br>
    | Email: <a href='mailto:mirefly@gmail.com'> mirefly@gmail.com </a><br>
    | Github: <a href='https://github.com/mirefly'>github.com/mirefly</a> <br>
    | ==========================
