doctype html

-var title = "mIReFLy"
-var tagline = "Web Developer"

html
  head
    title= title.toUpperCase()
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content="width=device-width, initial-scale=1.0")

    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-148965467-1")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-148965467-1');

  header
    h1(tagline=tagline)= title

    nav
      ul
        li
          a(href='/' class={active: req.url === '/'}) Code
        //li
        //  a(href='/blog' class={active: req.url === '/blog'}) Blog
        li
          a(href='/about' class={active: req.url === '/about'}) About

  main
    block main

  script.
    var showAll = function(elem, classname) {
      document.querySelectorAll(`.${classname} li`).forEach(function(item) {
        item.setAttribute('style', '')
      })
      elem.setAttribute('style', 'display: none')
    }
